.team-member-image {
  height: 180px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.input-margin {
  margin-left: 20%;
  margin-right: 20%;
}

.scrollable {
  overflow: auto;
}
