.skill-container {
  align-content: start;
}

.icon {
  font-size: 100px;
  height: 7vh;
  // color: var(--ion-color-tertiary);
  padding: 0 30px 0 30px;
}

.hexagon {
  background-image: url("../../../assets/forms/hexagon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 12vh;
  height: 8vw;
}

.text {
  margin: 0;
}
