.team-member-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.input-margin {
  margin-left: 20%;
  margin-right: 20%;
}
