<ion-header [hidden]="menu.showMenu">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Skills
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-row class="full-size" justify-content-center align-items-center>
    <ion-row class="wrapper" justify-content-center>
        <ion-row class="full-width" justify-content-center>
            <ion-row class="full-width" justify-content-center align-items-end>
                <p class="skill-title">Soft Skills</p>
            </ion-row>
            <ion-row justify-content-around class="full-width" align-items-start>
                <apx-chart [series]="softSkills.series" [chart]="softSkills.chart" [title]="softSkills.title"></apx-chart>
            </ion-row>
        </ion-row>

        <ion-row class="full-width" justify-content-center>
            <div class="divider"></div>
        </ion-row>

        <ion-row class="full-width">
            <ion-row class="full-width" justify-content-center align-items-end>
                <p class="skill-title">Hard Skills</p>
            </ion-row>
            <ion-row justify-content-around class="full-width" align-items-start>
                todo
            </ion-row>
        </ion-row>
    </ion-row>
</ion-row>
