.menu-button {
  position: absolute;
}

.skill-title {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  padding-bottom: 1vw;
}

.skill-col {

}

.divider {
  width: 70%;
  background: var(--ion-color-light-shade);
  height: 1px;
  margin: 5vh 0 5vh 0;
}

.wrapper {
  width: 80%;
}
