.menu-button {
  position: absolute;
}

.skill-title {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  padding-bottom: 1vw;
}

.divider-container {
  height: 20px;
}

.divider {
  width: 70%;
  background: var(--ion-color-light-shade);
  height: 1px;
  margin: 1vh 0 1vh 0;
}

.chart-container {
  height: 45%;
}

.wrapper {
  align-content: center;
}
