.close-content {
  margin-top: -5px;
}

.flex-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-align-left {
  justify-content: center;
  align-items: center;
  display: flex;
}

.edit-icon {
  font-size: 20px;
}