<ion-row justify-content-center>
    <div class="hexagon-container">
        <div class="hexagon hexagon1">
            <div class="hexagon-in1">
                <div class="hexagon-in2"></div>
            </div>
        </div>
    </div>
</ion-row>
<ion-row justify-content-center>
    <p class="name">Lorenz Graf</p>
    <p class="traits">Developer | Creative Mind | Leader</p>
    <ion-row justify-content-center align-items-center class="location-container">
        <ion-icon name="pin" class="geo-pin"></ion-icon>
        <p class="location">Austria</p>
    </ion-row>
</ion-row>
