.menu-button {
  position: absolute;
}

.subtitle {
  margin-top: 0;
}

.end-text {
  color: var(--ion-color-light-shade);
  margin-top: 10px;
  margin-bottom: 20px;
}

.divider {
  width: 60%;
  background: var(--ion-color-light-shade);
  height: 1px;
  margin: 2vh 0 0 0;
}

.button-group {
  overflow: visible;
}
