<ion-header [hidden]="menu.showMenu">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Portfolio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content #container [scrollEvents]="true" (ionScroll)="handleScroll($event)">
    <ion-row>
        <ion-col size="4">
            <ion-row justify-content-center><h5>Technology</h5></ion-row>
            <ion-row justify-content-around>a b c d</ion-row>
        </ion-col>
        <ion-col size="4">
            <ion-row justify-content-center><h5>Sort by</h5></ion-row>
            <ion-row justify-content-around>a b c d</ion-row>
        </ion-col>
        <ion-col size="4">
            <ion-row justify-content-center><h5>Availability</h5></ion-row>
            <ion-row justify-content-around>a b c d</ion-row>
        </ion-col>
        <ion-col size="12">
            <ion-row class="full-size" justify-content-center>
                <div class="divider"></div>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let card of cards">
            <app-project-card></app-project-card>
        </ion-col>
        <ion-col size="12">
            <h4 class="end-text" text-center>Thats all folks</h4>
        </ion-col>
    </ion-row>

    <ion-fab [ngStyle]="{'margin-bottom': fabMargin}" class="" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

