<ion-header [hidden]="menu.showMenu">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Portfolio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content #container [scrollEvents]="true" (ionScroll)="handleScroll($event)">
    <ion-row justify-content-center>
        <ion-col size="12" size-md="3">
            <ion-row justify-content-center><h5>Technology</h5></ion-row>
            <ion-row justify-content-around>
                <mat-button-toggle-group #techFilter="matButtonToggleGroup" multiple="true" class="button-group"
                                         (change)="applyFilter()">
                    <mat-button-toggle value="mobile" class="tooltip">
                        <ion-icon name="phone-portrait"></ion-icon>
                        <span class="tooltiptext">mobile</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="desktop" class="tooltip">
                        <ion-icon name="desktop"></ion-icon>
                        <span class="tooltiptext">desktop</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="web" class="tooltip">
                        <ion-icon name="globe"></ion-icon>
                        <span class="tooltiptext">web</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="hardware" class="tooltip">
                        <ion-icon name="construct"></ion-icon>
                        <span class="tooltiptext">hardware</span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </ion-row>
        </ion-col>
        <ion-col size="12" size-md="3">
            <ion-row justify-content-center><h5>Availability</h5></ion-row>
            <ion-row justify-content-around>
                <mat-button-toggle-group #availabilityFilter="matButtonToggleGroup" multiple="true" class="button-group"
                                         (change)="applyFilter()">
                    <mat-button-toggle value="on-request" class="tooltip">
                        <ion-icon name="key"></ion-icon>
                        <span class="tooltiptext">on request</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="public" class="tooltip">
                        <ion-icon name="logo-github"></ion-icon>
                        <span class="tooltiptext">public source</span>
                    </mat-button-toggle>
                    <mat-button-toggle value="demo" class="tooltip">
                        <ion-icon name="play"></ion-icon>
                        <span class="tooltiptext">live demo</span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </ion-row>
        </ion-col>
        <ion-col size="12">
            <ion-row class="full-size" justify-content-center>
                <div class="divider"></div>
            </ion-row>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let project of visibleProjects">
            <app-project-card [project]="project"></app-project-card>
        </ion-col>
        <ion-col size="12">
            <h4 class="end-text"
                text-center>{{ visibleProjects.length > 0 ? 'Thats all folks' : 'No projects matching the filter settings' }}</h4>
        </ion-col>
    </ion-row>

    <ion-fab [ngStyle]="{'margin-bottom': fabMargin}" class="" vertical="bottom" horizontal="end" slot="fixed"
             (click)="scrollToTop()">
        <ion-fab-button>
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

