<ion-header [hidden]="menu.showMenu">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Experience
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-row align-items-center class="full-size scroll-container" justify-content-center>
    <ion-row align-items-start>
        <ion-col size="12" size-lg="4">
            <app-timeline [timeline-objects]="education" title="Education"></app-timeline>
        </ion-col>
        <ion-col size="12" size-lg="4">
            <app-timeline [timeline-objects]="experience" title="Experience"></app-timeline>
        </ion-col>
        <ion-col size="12" size-lg="4">
            <app-timeline [timeline-objects]="awards" title="Awards"></app-timeline>
        </ion-col>
    </ion-row>
</ion-row>


