.menu-button {
  position: absolute;
}

.work {
  z-index: 100;
}

.edu {
  margin-left: -100px;
}

.work-text {
  margin-right: -120px;
  font-weight: bold;
  margin-bottom: -50px;
}

.edu-text {
  margin-left: -80px;
  font-weight: bold;
  margin-bottom: -50px;
}
