<ion-card class="full-size">
    <ion-card-header class="ion-text-center">
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8" class="flex-center"><h5 class="ion-no-margin">{{ title }}</h5></ion-col>
            <ion-col size="2" class="flex-center">
                <ion-button fill="clear" size="small">
                    <ion-icon slot="icon-only" name="add" class="edit-icon"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-card-header>
    <ion-card-content class="cms-content">
        <ng-content></ng-content>
    </ion-card-content>
</ion-card>