<ion-header>
    <ion-toolbar>
        <ion-title>cms</ion-title>
        <ion-buttons slot="primary">
            <!-- user -->
            <ion-button *ngIf="auth.user$ | async as user" (click)="signOutConfirm()">
                <img [src]="user.photoURL" class="icon">
                &nbsp;&nbsp;Sign Out
            </ion-button>

            <!-- more -->
            <!--
            <ion-button>
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
            -->
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="table-root">
        <ion-col size="4" class="table-col">
            <ion-row class="full-size">
                <ion-card class="full-size">
                    <ion-card-header class="ion-text-center">Soft Skills</ion-card-header>
                </ion-card>
            </ion-row>
            <ion-row class="full-size">
                <ion-card class="full-size">
                    <ion-card-header class="ion-text-center">Hard Skills</ion-card-header>
                </ion-card>
            </ion-row>
            <ion-row class="full-size">
                <ion-card class="full-size">
                    <ion-card-header class="ion-text-center">Team</ion-card-header>
                </ion-card>
            </ion-row>
        </ion-col>
        <ion-col size="4" class="table-col">
            <ion-row class="full-size">
                <ion-card class="full-size">
                    <ion-card-header class="ion-text-center">Education</ion-card-header>
                </ion-card></ion-row>
            <ion-row class="full-size">
                <ion-card class="full-size">
                    <ion-card-header class="ion-text-center">Experience</ion-card-header>
                </ion-card></ion-row>
            <ion-row class="full-size">
                <ion-card class="full-size">
                    <ion-card-header class="ion-text-center">Awards</ion-card-header>
                </ion-card></ion-row>
        </ion-col>
        <ion-col size="4" class="table-col full-size">
            <ion-card class="full-size">
                <ion-card-header class="ion-text-center">Portfolio</ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
