.icon {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.table-root {
  justify-content: space-around;
  height: 96%;
  width: 100%;
}

.table-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loader {
  width: 150px;
}

.loading-text {
  width: 100%;
  text-align: center;
}

.loader-container {
  align-content: center;
}

.input-range {
  padding: 0;
  height: 32px;
  margin-top: -8px;
}