<ion-header>
    <ion-toolbar>
        <ion-title>cms</ion-title>
        <ion-buttons slot="primary">
            <!-- user -->
            <ion-button *ngIf="auth.user$ | async as user">
                <img [src]="user.photoURL" class="icon">
            </ion-button>

            <!-- more -->
            <ion-button>
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
