<ion-header>
    <ion-toolbar>
        <ion-title>Content Management System</ion-title>
        <ion-buttons slot="primary">
            <ion-button *ngIf="auth.user$ | async as user" (click)="signOutConfirm()">
                <img [src]="user.photoURL" class="icon">
                &nbsp;&nbsp;Sign Out
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="table-root" *ngIf="auth.user$ | async as user; else loading">
        <ion-col size="4" class="table-col">
            <ion-row class="full-size">
                <app-cms-element class="full-size" title="Soft Skills">
                        <ion-row *ngFor="let soft of skills[1].labels; let i = index">
                            <ion-col size="4">
                                <p>{{ soft }}</p>
                            </ion-col>
                            <ion-col size="8">
                                <ion-item class="input-range">
                                    <ion-range class="input-range" min="0" max="10"
                                               [value]="skills[1].data[i]"></ion-range>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                </app-cms-element>
            </ion-row>
            <ion-row class="full-size">
                <app-cms-element class="full-size" title="Hard Skills">
                        <ion-row *ngFor="let soft of skills[0].labels; let i = index">
                            <ion-col size="4">
                                <p>{{ soft }}</p>
                            </ion-col>
                            <ion-col size="8">
                                <ion-item class="input-range">
                                    <ion-range class="input-range" min="0" max="10"
                                               [value]="skills[0].data[i]"></ion-range>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                </app-cms-element>
            </ion-row>
            <ion-row class="full-size">
                <app-cms-element class="full-size" title="Team">
                        <ion-row *ngFor="let member of team">
                            <ion-col size="2" class="flex-center"><img class="team-member-image" [src]="member.img">
                            </ion-col>
                            <ion-col size="5" class="flex-center"><p class="ion-text-center">{{ member.name }}</p>
                            </ion-col>
                            <ion-col size="4" class="flex-center"><p class="ion-text-center">{{ member.profession }}</p>
                            </ion-col>
                            <ion-col size="1" class="flex-center">
                                <ion-button fill="clear" size="small">
                                    <ion-icon slot="icon-only" name="create" class="edit-icon"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                </app-cms-element>
            </ion-row>
        </ion-col>
        <ion-col size="4" class="table-col middle-col">
            <ion-row class="full-size">
                <app-cms-element class="full-size" title="Education">
                    <ion-row *ngFor="let edu of education">
                        {{ edu.content }}
                    </ion-row>
                </app-cms-element>
            </ion-row>
            <ion-row class="full-size">
                <app-cms-element class="full-size" title="Experience">
                    <ion-row *ngFor="let exp of experience">
                        {{ exp.content }}
                    </ion-row>
                </app-cms-element>
            </ion-row>
            <ion-row class="full-size">
                <app-cms-element class="full-size" title="Awards">
                    <ion-row *ngFor="let a of awards">
                        {{ a.content }}
                    </ion-row>
                </app-cms-element>
            </ion-row>
        </ion-col>
        <ion-col size="4" class="table-col full-size auto-height">
            <ion-row class="full-size">
                <app-cms-element class="full-size" title="Portfolio">
                    <ion-row *ngFor="let p of projects">
                        {{ p.title }}
                    </ion-row>
                </app-cms-element>
            </ion-row>
        </ion-col>
    </ion-row>

    <ng-template #loading>
        <ion-row class="full-size ion-align-items-center ion-justify-content-center loader-container">
            <h5 class="loading-text">
                Loading ...
            </h5>
            <ion-progress-bar type="indeterminate" class="loader"></ion-progress-bar>
        </ion-row>
    </ng-template>
</ion-content>
