<body id="container">
<ion-app>
    <ion-split-pane>
        <ion-menu class="menu themed-background" type="reveal"> <!-- todo removing bg theme here creates line -->
            <ion-header>
                <app-personal-info padding></app-personal-info>
            </ion-header>
            <ion-content [scrollY]="false">
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" routerLinkActive="active-link" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <!--
            todo light / dark mode
            <ion-row justify-content-center>
                <ion-item class="mode-slider">
                <ion-range #mode min="1" max="100" step="100" snaps="true" ticks="true" (ionChange)="toggleMode($event)" (click)="toggleMode($event)">
                    <ion-icon slot="start" name="sunny"></ion-icon>
                    <ion-icon slot="end" name="moon"></ion-icon>
                </ion-range>
            </ion-item>
            </ion-row>
            -->
            <app-link-footer></app-link-footer>
        </ion-menu>
        <ion-router-outlet class="router" main></ion-router-outlet>
    </ion-split-pane>
</ion-app>

<div class="animate-all" [ngStyle]="{'margin-top': introMarginTop, 'visibility': introVisibility}">
    <!-- default is visible -->
    <app-hacker-con class="overlay"></app-hacker-con>
</div>
</body>
