<body id="container">
<ion-app>
    <ion-split-pane>
        <ion-menu class="menu themed-background" type="reveal"> <!-- todo removing bg theme here creates line -->
            <ion-header>
                <app-personal-info padding></app-personal-info>
            </ion-header>
            <ion-content [scrollY]="false">
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" routerLinkActive="active-link" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-row justify-content-center>
                <ion-col size="4" no-padding>
                    <ion-row class="full-size" justify-content-end align-items-center>
                        <ion-icon class="mode-icon" name="moon"></ion-icon>
                    </ion-row>
                </ion-col>
                <ion-col size="3.5" no-padding>
                    <ion-row class="full-size" justify-content-center align-items-center>
                        <ion-item>
                            <ion-toggle class="mode-toggle" (ionChange)="toggleMode($event)">
                            </ion-toggle>
                        </ion-item>
                    </ion-row>
                </ion-col>
                <ion-col size="4" no-padding>
                    <ion-row class="full-size" justify-content-start align-items-center>
                        <ion-icon class="mode-icon" name="sunny"></ion-icon>
                    </ion-row>
                </ion-col>
            </ion-row>
            <app-link-footer></app-link-footer>
        </ion-menu>
        <ion-router-outlet class="router" main></ion-router-outlet>
    </ion-split-pane>
</ion-app>

<div class="animate-all" [ngStyle]="{'margin-top': introMarginTop, 'visibility': introVisibility}">
    <!-- default is visible -->
    <app-hacker-con class="overlay"></app-hacker-con>
</div>
</body>
