<ion-header [hidden]="menu.showMenu">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Team
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-row class="full-size container">
  <ion-col size="12" sizeXl="3" *ngFor="let member of team; let i = index">
    <ion-row justify-content-center align-items-center class="full-size member-container">
      <ion-col size="12" text-center>
        <img [alt]="member.name" [src]="member.img">
      </ion-col>
      <ion-col size="12" text-center no-padding><p class="name">{{ member.name }}</p></ion-col>
      <ion-col size="12" text-center no-padding><p class="profession">{{ member.profession }}</p></ion-col>
      <ion-col size="12">
        <ion-row class="full-size" justify-content-center>
          <div class="divider"></div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
