<ion-menu-button class="menu-button"></ion-menu-button>

<ion-row class="full-size container" justify-content-center align-items-center>
    <ion-row size="12">
        <p text-center class="title" no-margin>
            Hello, I'm <span>Lorenz Graf</span>.<br>
            I'm a full-stack developer.
        </p>
    </ion-row>
    <ion-row class="full-width" size="12" size-md="4" justify-content-center>
        <ion-button class="button" color="tertiary" padding fill="outline">Skills</ion-button>
        <ion-button class="button" color="tertiary" padding fill="outline">Portfolio</ion-button>
        <ion-button class="button" color="tertiary" padding fill="outline">Experience</ion-button>
    </ion-row>
</ion-row>
