<ion-row class="full-size container" justify-content-center align-items-center>
    <app-fancy-canvas class="full-size fancy"></app-fancy-canvas>
    <ion-row size="12">
        <p text-center class="title" no-margin>
            Hello, I'm <span>Lorenz Graf</span>.<br>
            I'm a full-stack developer.
        </p>
    </ion-row>
    <ion-row class="full-width" size="12" size-md="4" justify-content-center *ngIf="menu.showMenu">
        <ion-button class="button" color="secondary" padding fill="outline" [routerLink]="['/skills']">Skills</ion-button>
        <ion-button class="button" color="secondary" padding fill="outline" [routerLink]="['/portfolio']">Portfolio</ion-button>
        <ion-button class="button" color="secondary" padding fill="outline" [routerLink]="['/experience']">Experience</ion-button>
    </ion-row>

    <ion-row class="full-width" size="12" size-md="4" justify-content-center *ngIf="!menu.showMenu">
        <ion-button class="button" color="tertiary" padding fill="outline" (click)="menu.openMenu()">show me</ion-button>
    </ion-row>
</ion-row>
