<ion-footer>
    <ion-toolbar>
        <ion-row justify-content-center class="container">
            <a href="https://github.com/AdaLollA" target="_blank">
                <ion-icon name="logo-github" class="logo"></ion-icon>
            </a>
            <a href="https://www.linkedin.com/in/lorenz-graf-65201a138/" target="_blank">
                <ion-icon name="logo-linkedin" class="logo"></ion-icon>
            </a>
            <a href="https://www.xing.com/profile/Lorenz_Graf8" target="_blank">
                <ion-icon name="logo-xing" class="logo"></ion-icon>
            </a>
        </ion-row>
    </ion-toolbar>
</ion-footer>
