.logo {
  font-size: 30px;
  transition: all 0.2s linear;
  // color: var(--ion-color-primary);
  color: var(--footer-icons);
}

.logo:hover {
  color: var(--ion-color-primary);
}

.container {
  padding-top: 10px;
}
