<ion-card class="project-card">
    <ion-img [ngStyle]="{'height': loading ? '1px' : '200px'}" class="project-image" [src]="project.image ? project.image : '/assets/shapes.svg'" (ionImgDidLoad)="finishedLoading()"></ion-img>
    <ion-img *ngIf="loading" class="project-image-loader" [src]="'/assets/img/loader-square.gif'"></ion-img>
    <ion-card-header>
        <ion-card-subtitle>
            <ion-col *ngFor="let technology of project.technologies" no-padding>{{technology}}&nbsp;&nbsp;</ion-col>
        </ion-card-subtitle>
        <ion-card-title><h1 class="project-title">{{ project.title }}</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>{{ project.description }}</p>
    </ion-card-content>
    <ion-row justify-content-end padding-bottom
             *ngIf="project.sourceCodeUrl || project.moreInfoUrl || project.liveDemoUrl">
        <ion-button padding-end *ngIf="project.moreInfoUrl" color="primary" (click)="openUrl(project.moreInfoUrl)"> More Info </ion-button>
        <ion-button padding-end *ngIf="project.sourceCodeUrl" color="secondary" (click)="openUrl(project.sourceCodeUrl)">Source Code</ion-button>
        <ion-button padding-end *ngIf="project.liveDemoUrl" color="tertiary" (click)="openUrl(project.liveDemoUrl, true)">Live Demo</ion-button>
    </ion-row>
</ion-card>
